<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <div class="card card1">
            <img src="https://picsum.photos/id/1067/250/180" alt="Image-1">
            <h2>IPhone</h2>
            <p>$1200</p>
            <button>Buy Now</button>
        </div>
         <div class="card card2">
            <img src="https://picsum.photos/id/1068/250/180" alt="Image-1">
            <h2>IPhone</h2>
            <p>$1201</p>
            <button>Buy Now</button>
        </div>
         <div class="card card3">
            <img src="https://picsum.photos/id/1069/250/180" alt="Image-1">
            <h2>IPhone</h2>
            <p>$1202</p>
            <button>Buy Now</button>
        </div>
         <div class="card">
            <img src="https://picsum.photos/id/1070/250/180" alt="Image-1">
            <h2>IPhone</h2>
            <p>$1203</p>
            <button>Buy Now</button>
        </div>
        <!-- <div class="card">
            <img src="https://picsum.photos/id/1070/250/180" alt="Image-1">
            <h2>IPhone</h2>
            <p>$1203</p>
            <button>Buy Now</button>
        </div>
        <div class="card">
            <img src="https://picsum.photos/id/1070/250/180" alt="Image-1">
            <h2>IPhone</h2>
            <p>$1203</p>
            <button>Buy Now</button>
        </div>
        <div class="card">
            <img src="https://picsum.photos/id/1070/250/180" alt="Image-1">
            <h2>IPhone</h2>
            <p>$1203</p>
            <button>Buy Now</button>
        </div>
        <div class="card card1">
            <img src="https://picsum.photos/id/1070/250/180" alt="Image-1">
            <h2>IPhone</h2>
            <p>$1203</p>
            <button>Buy Now</button>
        </div> -->
    </div>
</body>
</html>