/*
WHat is Selector:
A selector is used to target HTML elemnet and apply styles

teacher  slev=ct student by names
CSS= select HTML ememnts by selectors

types of Selectors: 
1. Universal selector/global selector(*)
selects all elemnts in HTML file
2. tag selector(tagname)::after
targer=ts all elements of same tag
tagname{
property:value;
}
3. class Selector:(.)
targets the multiple elements using class attribute
4. ID selector:(#)
targets a single uniqure element
#idName{

}
5. group selector(,)
apply same style for the multiple selectors

6. pseudo class selctor(:)
pseudo class selectos an element based on the state or condition

slector:pseudo-clss{

}
1. :hover
    applied when mouse is placed on element
    2. :active
    applied while clicking on element
    3. :focus
    aplied styles user click inside the input
    4. :visited
    apllied style already visited liks

7. pseudo element selector(::)
when we need to styles a portion of content 

1. ::before



8. combination selevtors
    1. child slector
        1.1: direct child(>)
        1.2: indirect/decendent child(space)
    2. sibling selector
        1. adjecent sibling(+)
        2. general sibling(~)
*/

*{
    margin: 0px;
    /* border: none; */
    padding: 0px;
    font-style: italic;
}
p{
    margin: 10px;
}
.card{
    background-color: aquamarine;
     width: 200px; 
     padding: 20px;
}
#unique{
    color:green;
}
/* p,button,h1,#unique,.card{
    background-color: brown;

} */

.parent{
    display: flex;
    gap: 20px;
}
.card:hover{
    background-color: blueviolet;
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.card:active{
    background-color: chartreuse;
}
/* input:focus{
    outline: 2px solid green;
    border-radius: 50px;
} */
a:visited{
    color:green;
}
a:link{
    color: red;
}
/* :checked



*/

input:checked+label{
    opacity: 0.4;
}
li:nth-child(2){
    color:red;
}

ul{
    /* list-style-type: none; */
    margin-left: 30px;
}
/* p::first-line{
   color: red;
   font-size: 30px;
} */
*::selection{
   background-color: red;
   color:blue;
}
li::marker{
    color:blue;
    font-size: 30px;
}
div > p{
    color:red;
}

section~p{
    background-color: aqua;
}

/* //CSS Selectors Ptiority: */

#title{
    color:green;
}
h1{
    color:red;

}
.heading{
    color:blue;
}

/*
inline style--->1000
ID selector--->100
CLass Selector--->10
pseudo class---->10
element slector--->1
pseudo element ----1
universla selector----0


*/

#company{
    color:red;
}
#company .employee{
    color:blue;
}